<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.wcs.wildcommunitysocks">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="25" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launch"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".MainActivity">

        </activity>
        <activity
            android:name=".NewAccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IdentificationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Navigation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransNav" />
        <activity
            android:name=".SocksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyProfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyPassword"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MySocksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModifyMySocksActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CommentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RankingResult"
            android:screenOrientation="portrait" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ReportsActivity"></activity>
    </application>

</manifest>